In [3]:
#This notebook will be used for the Coursera Capstone Project
import pandas as pd
import numpy as np
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [4]:
# The code was removed by Watson Studio for sharing.

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [5]:
#Cleaning up the data for use
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [6]:
df['LIGHTCOND'].value_counts().to_frame()

                          LIGHTCOND
Daylight                     116137
Dark - Street Lights On       48507
Unknown                       13473
Dusk                           5902
Dawn                           2502
Dark - No Street Lights        1537
Dark - Street Lights Off       1199
Other                           235
Dark - Unknown Lighting          11

In [19]:
df['LOCATION'].value_counts().to_frame()

                                                    LOCATION
BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB A...       276
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND A...       271
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORL...       265
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST           254
6TH AVE AND JAMES ST                                     252
AURORA AVE N BETWEEN N 130TH ST AND N 135TH ST           239
ALASKAN WY VI NB BETWEEN S ROYAL BROUGHAM WAY O...       238
RAINIER AVE S BETWEEN S BAYVIEW ST AND S MCCLEL...       231
ALASKAN WY VI SB BETWEEN COLUMBIA ST ON RP AND ...       212
WEST SEATTLE BR EB BETWEEN ALASKAN WY VI NB ON ...       212
AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N               190
ALASKAN WY VI NB BETWEEN SENECA ST OFF RP AND W...       164
1ST AVE BETWEEN BLANCHARD ST AND BELL ST                 161
5TH AVE AND SPRING ST                                    160
RAINIER AVE S BETWEEN S HENDERSON ST AND S DIRE...       152
RAINIER AVE S BETWEEN S DEARBORN ST AND S CHARL...       146
RAINIER AVE S BETWEEN S CHARLESTOWN ST AND S AN...       142
5TH AVE AND UNION ST                                     138
NE NORTHGATE WAY BETWEEN 5TH AVE NE AND 8TH AVE NE       136
5TH AVE AND VIRGINIA ST                                  136
OLSON PL SW BETWEEN 1ST AVE S AND 2ND AVE SW             133
MONTLAKE BLVD NE BETWEEN NE PACIFIC PL AND 25TH...       132
NE NORTHGATE WAY BETWEEN 3RD AVE NE AND 5TH AVE NE       131
RAINIER AVE S BETWEEN S CLOVERDALE ST AND S HEN...       130
1ST AVE BETWEEN UNION ST AND PIKE ST                     129
5TH AVE AND UNIVERSITY ST                                128
RAINIER AVE S AND S ORCAS ST                             128
12TH AVE AND E MADISON ST                                128
S MICHIGAN ST BETWEEN 7TH AVE S AND CORSON AVE S         126
EAST MARGINAL WAY S BETWEEN S FIDALGO ST AND 1S...       125
...                                                      ...
2ND AVE S BETWEEN DEAD END 3 AND S RIVER ST                1
S FOUNTAIN ST BETWEEN 62ND AVE S AND 63RD AVE S            1
4TH AVE N BETWEEN LYNN ST AND MCGRAW ST                    1
1ST AVE NW AND NW 95TH ST                                  1
48TH AVE S BETWEEN S BATEMAN ST AND S GRAHAM ST            1
28TH AVE W BETWEEN W MCGRAW S ST AND W MCGRAW N ST         1
26TH AVE NW AND NW 85TH E ST                               1
N 40TH ST BETWEEN GREENWOOD S AVE N AND PHINNEY...         1
ARAPAHOE PL W BETWEEN W DRAVUS ST AND W PROSPER ST         1
CASCADIA AVE S AND S MCCLELLAN ST                          1
W ELMORE ST BETWEEN 29TH AVE W AND DEAD END 1              1
S PORTLAND ST BETWEEN 5TH AVE S AND 7TH AVE S              1
EASTERN AVE N AND N 43RD ST                                1
1ST AVE NE AND NE 57TH ST                                  1
5TH AVE S BETWEEN S LUCILE ST AND S FINDLAY ST             1
SW GENESEE ST BETWEEN 54TH AVE SW AND 55TH AVE SW          1
NW 110TH ST AND NW CARKEEK PARK RD                         1
SW KENYON ST BETWEEN 46TH AVE SW AND FAUNTLEROY...         1
GREENWOOD AVE N BETWEEN N 46TH N ST AND N 47TH ...         1
S BOZEMAN ST BETWEEN M L KING JR ER WAY S AND R...         1
11TH AVE NE AND NE 73RD ST                                 1
28TH AVE BETWEEN E SPRUCE ST AND E ALDER ST                1
60TH AVE NE BETWEEN NE 63RD ST AND NE 64TH ST              1
43RD PL NE BETWEEN 44TH AVE NE AND 41ST AVE NE             1
W RUFFNER ST AND WEST VIEWMONT WAY W                       1
17TH AVE W BETWEEN W BARRETT ST AND W DRAVUS ST            1
SW HILL ST BETWEEN 46TH AVE SW AND 47TH AVE SW             1
AURORA AVE N AND N 71ST ST                                 1
E HARRISON ST BETWEEN FEDERAL AVE E AND 11TH AVE E         1
33RD AVE W BETWEEN W DRAVUS ST AND W BERTONA ST            1

[24102 rows x 1 columns]

In [7]:
#Create a new df with the data of interest
df_StreetLights=df.filter(['SEVERITYCODE', 'LOCATION', 'LIGHTCOND'], axis=1)
df_StreetLights.head()

,SEVERITYCODE,LOCATION,LIGHTCOND
0,2,5TH AVE NE AND NE 103RD ST,Daylight
1,1,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Dark - Street Lights On
2,1,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Daylight
3,1,2ND AVE BETWEEN MARION ST AND MADISON ST,Daylight
4,2,SWIFT AVE S AND SWIFT AV OFF RP,Daylight

In [13]:
import matplotlib.pyplot as plt
import seaborn as sns

#Convert LIGHTCOND to an integer, then use regplot in order to determine any correlations

In [15]:
#Filtering for the searched conditions
df_DarkStreet=df_StreetLights.loc[df_StreetLights['LIGHTCOND']=='Dark - No Street Lights']
df_DarkStreet.head()

,SEVERITYCODE,LOCATION,LIGHTCOND
13,1,TERRY AVE BETWEEN JAMES ST AND CHERRY ST,Dark - No Street Lights
211,1,34TH AVE NW BETWEEN NW 72ND ST AND NW 73RD ST,Dark - No Street Lights
319,1,45TH AVE S BETWEEN S MYRTLE ST AND S OTHELLO ST,Dark - No Street Lights
544,1,S MASSACHUSETTS ST BETWEEN DEAD END AND 12TH A...,Dark - No Street Lights
700,1,S HILL ST BETWEEN 15TH AVE S AND 16TH AVE S,Dark - No Street Lights

In [17]:
#Determine the severity of accidents when the LIGHTCOND= "Dark-No Street Lights"
df_DarkStreet['SEVERITYCODE'].value_counts().to_frame()

   SEVERITYCODE
1          1203
2           334

In [21]:
df_DarkStreet['LOCATION'].value_counts().to_frame()

                                                    LOCATION
1ST AVE S BETWEEN SW KENYON ST AND S CLOVERDALE...        10
LAKE WASHINGTON BLVD E BETWEEN BOYER AVE E AND ...         8
ALASKAN WY VI SB BETWEEN COLUMBIA ST ON RP AND ...         6
ALASKAN WY VI SB BETWEEN ALASKAN WY VI SB EFR O...         5
1ST AVE S BETWEEN S CLOVERDALE W ST AND 1ST AVS...         5
ALASKAN WY VI SB BETWEEN S LANDER ST AND ALASKA...         5
ALASKAN WY VI NB BETWEEN S ROYAL BROUGHAM WAY O...         5
INTERLAKEN DR E BETWEEN E GALER ST AND E INTERL...         4
LAKE WASHINGTON BLVD S BETWEEN 53RD AVE S AND S...         4
LAKE WASHINGTON BLVD S BETWEEN S MASSACHUSETTS ...         3
WEST MARGINAL NB WAY S BETWEEN CLOVERDALE ST ON...         3
LAKE WASHINGTON BLVD S BETWEEN S HORTON ST AND ...         3
S ROSE ST BETWEEN 50TH AVE S AND RAINIER S AVE S           3
SMITH ST BETWEEN 4TH AVE N AND DEAD END                    3
WEST MARGINAL WAY SW BETWEEN PUGET WAY SW AND S...         3
DENNY WAY BETWEEN 9TH AVE AND WESTLAKE AVE                 3
LAKE WASHINGTON BLVD S BETWEEN S HORTON NR ST A...         3
AIRPORT WAY S BETWEEN S NORFOLK ST AND CITY LIM...         3
23RD AVE W AND W RUFFNER ST                                3
S CORGIAT DR BETWEEN URSULA PL S AND CORGIAT DR S          3
FRANCIS AVE N BETWEEN N 36TH ST AND N 39TH ST              3
LAKE WASHINGTON BLVD E BETWEEN MCGILVRA BLVD E ...         3
LAKE PARK DR S AND LAKE WASHINGTON BLVD S                  3
E OLIVE WAY BETWEEN SUMMIT AVE E AND E JOHN ST             2
S HILL ST BETWEEN 15TH AVE S AND 16TH AVE S                2
14TH AVE E AND E MERCER ST                                 2
20TH AVE S AND S CHARLES ST                                2
LAKE WASHINGTON BLVD E BETWEEN E MADISON ST AND...         2
S WARSAW ST BETWEEN 39TH AVE S AND 42ND AVE S              2
15TH AVE NW BETWEEN NW 87TH ST AND HOLMAN RD NW            2
...                                                      ...
SPOKANE TURN RD BETWEEN 15TH AVE S AND 16TH AVE S          1
15TH AVE NE BETWEEN NE 52ND ST AND NE 55TH ST              1
S DEARBORN ST BETWEEN 8TH AVE S AND DEARBORN OF...         1
30TH AVE NE AND NE 80TH ST                                 1
14TH AVE AND E FIR ST                                      1
14TH AVE NW AND NW 85TH ST                                 1
52ND AVE SW AND SW ANDOVER ST                              1
8TH AVE NE BETWEEN NE 117TH ST AND NE 120TH ST             1
21ST AVE BETWEEN E MARION ST AND E UNION ST                1
S BAYVIEW ST BETWEEN 29TH AVE S AND 30TH AVE S             1
NW BALLARD WAY BETWEEN 11TH AVE NW AND 14TH AVE NW         1
8TH AVE N AND ALOHA ST                                     1
44TH AVE S AND S WILLOW ST                                 1
TERRY AVE BETWEEN TERRACE ST AND JEFFERSON ST              1
4TH AVE S BETWEEN S MASSACHUSETTS ST AND S HOLG...         1
FAIRMOUNT AVE SW BETWEEN SW FOREST ST AND SW ST...         1
MERCER SR ST BETWEEN 9TH AVE N AND WESTLAKE AVE N          1
NW 76TH ST BETWEEN 6TH AVE NW AND 8TH AVE NW               1
FAIRMOUNT AVE SW BETWEEN SW PRINCE ST AND SW FO...         1
MIDVALE AVE N AND N 90TH ST                                1
43RD AVE S AND LAKE WASHINGTON BLVD S                      1
S ATLANTIC ST BETWEEN 32ND AVE S AND DEAD END 4            1
20TH AVE SW BETWEEN SW HOLDEN ST AND SW KENYON ST          1
SW ROSE ST BETWEEN 37TH AVE SW AND 39TH AVE SW             1
DAYTON AVE N BETWEEN N 75TH ST AND N 76TH ST               1
15TH AVE S BETWEEN GOLF DR S AND S ATLANTIC ST             1
6TH AVE AND PINE ST                                        1
S JUNEAU ST BETWEEN 25TH AVE S AND 28TH AVE S              1
RAINIER AVE S BETWEEN 39TH S AVE S AND 42ND AVE S          1
10TH AVE S AND S OREGON ST                                 1

[1319 rows x 1 columns]